<div #pageContainer>
  <mat-toolbar color="primary" #toolbarContainer>
    <mat-toolbar-row>
      <button mat-icon-button class="menuButton" (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
        <mat-icon>menu</mat-icon>
      </button>
      <span style="color: #6B7A8F">Sample App</span>
      <span class="menu-spacer"></span>
      <div fxShow="true" fxHide.lt-md>
        <!-- The following menu items will be hidden on both SM and XS screen sizes -->
        <a routerLink="" routerLinkActive="class1" [routerLinkActiveOptions]="{ exact: true }">Home</a>&nbsp;&nbsp;
        <a routerLink="movies" routerLinkActive="class1"
          [routerLinkActiveOptions]="{ exact: true }">Movies</a>&nbsp;&nbsp;
        <a routerLink="news" routerLinkActive="class1" [routerLinkActiveOptions]="{ exact: true }">News</a>&nbsp;&nbsp;
        <!-- <a routerLink="flex" routerLinkActive="class1"
          [routerLinkActiveOptions]="{ exact: true }">Flexbox</a>&nbsp;&nbsp; -->
        <a routerLink="reddit-news" routerLinkActive="class1"
          [routerLinkActiveOptions]="{ exact: true }">r/Programming</a>&nbsp;&nbsp;
        <a routerLink="login" routerLinkActive="class1" *ngIf="!isLoggedIn"
          [routerLinkActiveOptions]="{ exact: true }">Login</a>
        <a *ngIf="isLoggedIn" (click)="logout()">Logout</a>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container fxFlexFill>
    <mat-sidenav #sidenav>
      <mat-nav-list>
        <a routerLink="" mat-list-item routerLinkActive="class1" [routerLinkActiveOptions]="{ exact: true }">Home</a>
        <a routerLink="movies" mat-list-item routerLinkActive="class1"
          [routerLinkActiveOptions]="{ exact: true }">Movies</a>
        <a routerLink="news" mat-list-item routerLinkActive="class1"
          [routerLinkActiveOptions]="{ exact: true }">News</a>
        <!-- <a routerLink="flex" mat-list-item routerLinkActive="class1"
          [routerLinkActiveOptions]="{ exact: true }">Flexbox</a> -->
        <a routerLink="reddit-news" mat-list-item routerLinkActive="class1"
          [routerLinkActiveOptions]="{ exact: true }">r/Programming</a>
        <a routerLink="login" mat-list-item *ngIf="!isLoggedIn" routerLinkActive="class1"
          [routerLinkActiveOptions]="{ exact: true }">Login</a>
        <a mat-list-item *ngIf="isLoggedIn">Logout</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>